*{
    --main-clr : #191924
}

/* Navigation styles */
.my-nav {
  background-color: var(--main-clr);
}

li > a:hover {
  color: rgb(133, 76, 230) !important;
}

.git-btn {
  color: rgb(106, 28, 240) !important;
  border: 2px solid rgba(115, 39, 247, 0.587) !important;
}

.git-btn:hover {
  color: rgb(255, 255, 255) !important;
  border: 2px solid rgb(118, 44, 244) !important;
}

/* Hero section styles */
.hero-section {
  background-color: #2c2c3d; 
  padding: 60px 0;
}

/* Typewriter effect */
.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid orange;
  white-space: nowrap;
}

#typewriter-cursor {
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

.text-clr {
  color: rgb(133, 76, 230) !important;
}

/* Image styles */
.my-img {
  border: 2px solid rgb(133, 76, 230) !important;
  width: 70%;
  max-width: 300px; 
  margin: 0 auto; 
}

/* Section height and alignment */
.header-height {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Resume button styles */
.resume-btn {
  color: white;
  background-image: linear-gradient(to right, #d600ff, #9000ff);
  border: none;
  transition: all 0.5s ease-out;
}

.resume-btn:hover {
  color: white;
  background-color: rgb(133, 76, 230);
  border: none;
  transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
    text-align: center;
  }

  .my-img {
    width: 60%; /* Smaller image on smaller screens */
  }
}

  /* skills section */


  .skill-sec{
    background-image:linear-gradient(to bottom, #1c1c27,#222a35);
   
  }
  .grey-clr{
    color: grey;
  }



  .card-span{
    border: #50506f solid 1px;
   
  }

  .card-br{
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
     border: 0.1px solid rgb(133, 76, 230 );
    border-radius: 20px;
  }

  /* experienve section */

  .exp-sec{
    background-image:linear-gradient(to bottom, #222a35,#321b46 );
  }

  /* projects section */
/* Projects section */
#projects {
  background-image: linear-gradient(to bottom, #1c1c27, #1f1d2d);
}

.card-clr {
  background-color: #222230 !important;
  border: #50506f 1px solid;
}

.card_h {
  transition: all 0.5s ease-out;
}

.card_h:hover {
  transform: scale(1.1);
}

.card img {
  height: 200px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
}


@media (max-width: 767px) {
  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .card {
    margin-bottom: 15px;
  }
}


.edu-sec{
  background-image:linear-gradient(to bottom, #1c1c27,#222a35);
 
}


.footer{
  background-color: #1c1c27;
}



.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.55);
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}