*{
    --main-clr : #191924
}

.my-nav{
    background-color: var(--main-clr);


}
li > a:hover{
    color:  rgb(133, 76, 230) !important;
}
.git-btn{
color:  rgb(106, 28, 240) !important;
border: 2px solid rgba(115, 39, 247, 0.587) !important;

}

.git-btn:hover{
    color:  rgb(255, 255, 255) !important;
    border: 2px solid rgb(118, 44, 244) !important;
    
    }   
    


.hero-section{
    background-image: url(./images/images\ \(1\).jfif);
 

}


.typewriter {
    display: inline-block;
    overflow: hidden; /* Ensures text doesn't overflow */
    border-right: 2px solid orange; /* Cursor effect */
    white-space: nowrap; /* Prevents text from wrapping */
  }
  
  #typewriter-cursor {
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }
  

  .text-clr{
  color:   rgb(133, 76, 230) !important;
  }

  .my-img{
   border: 2px solid rgb(133, 76, 230) !important;
  }

  .header-height{
    height: 80vh;
    justify-content: center;
    align-items: center;
  }

  .resume-btn{
    color: white;
     background-image:linear-gradient(to right, #d600ff, #9000ff);
     border: none;
     transition: all 0.5s ease-out;
  }
  .resume-btn:hover{
    color: white;
     background-color:rgb(133, 76, 230);
     border: none;
    transform: scale(1.05);
  }


  /* skills section */


  .skill-sec{
    background-image:linear-gradient(to bottom, #1c1c27,#222a35);
   
  }
  .grey-clr{
    color: grey;
  }



  .card-span{
    border: #50506f solid 1px;
   
  }

  .card-br{
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
     border: 0.1px solid rgb(133, 76, 230 );
    border-radius: 20px;
  }

  /* experienve section */

  .exp-sec{
    background-image:linear-gradient(to bottom, #222a35,#321b46 );
  }

  /* projects section */

  #projects{
    background-image:linear-gradient(to bottom, #1c1c27,#1f1d2d );
  }

  .card-clr{
    background-color: #222230 !important;
    border:#50506f 1px solid;
  }




